<%= render partial: 'errors/errors', locals: {model: @team} if @team %>

<%= form_with(model: @team) do |f|%>
    <h2> Update A Team </h2>
    <%= f.text_field :name, placeholder: 'Name'%><br>

    <%= f.submit "Create" %>
<% end %>