<%= render partial: 'errors/errors', locals: {model: @team} if @team %>

<div class="create">
<%= form_with(model: @team) do |f|%>
    <h2 class="new"> Create A New Team </h2>
    <%= f.text_field :name, placeholder: 'Name'%><br>

    <%= f.submit "Create" %>
<% end %>
</div>