<h1 class="w-name"><%= @team.name %></h1>
<div class="info">
<ul class="li">
<% @team.wrestlers.each do |wrestler| %>
    <li><%= link_to wrestler.name, team_wrestler_path(@team, wrestler), class: 'wrestle' %></li>
<% end %>
</ul>

<button type="button" class="btn btn-outline-light">
<a class="edit" href="/teams/<%= @team.id %>/edit">
Edit
</a>
</button> <br><br>

</div>