<% if @team %>
<h1 class="fav"> <%= @team.name %> Wrestlers</h1>
<% else %>
<h1 class="fav">Your Favorite Wrestlers</h1>
<% end %>


<ul class="list">
<% @wrestlers.each do |wrestler| %>
    <li>
        <%= link_to wrestler.name, wrestler_path(wrestler), class: 'wrestle' %>
    </li>
    <% end %>
    <%= link_to "Create New Wrestler For Team", new_team_wrestler_path(@team) if @team %><br>
    <%= link_to "#{@team.name} Wrestlers", team_wrestlers_path(@team) if @team %>
</ul>
