<h1 class="fav">Your Favorite Wrestlers</h1>

<ul class="list">
<% @wrestlers.each do |wrestler| %>
    <li>
        <%= link_to wrestler.name, wrestler_path(wrestler), class: 'wrestle' %>
    </li>
    <% end %>
</ul>
